<h3>Lista de Campeones</h3>

<div *ngIf="deletedHero; else nothingDeleted">
  <h3>Campeon borrado <small class="text-danger"> {{deletedHero}} </small></h3>
</div>

<ng-template #nothingDeleted>
  <h3>No se ha borrado nada.</h3>
</ng-template>

<button
  *ngIf="heroNames.length>0"
  (click)="removeLastHero()"
  class="btn btn-outline-danger">
  Borrar último campeon
</button>

<ul class="mt-2 list-group">
  <li *ngFor="let name of heroNames"
    class="list-group-item">
      <strong>{{name}}</strong>
  </li>
</ul>
